<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
  	
  	<section id='main'><!-- main -->
  	
  		<section id='logo'>			

				<table border="0" width="100%">
					<tr>
						<td class='left'>
			  			<img class='logo' src='https://app.ibefoundation.org/logo-pdf.png'>
						</td>
						<td class='right'>
							<p>{{filingYear}} Tax Credit Receipt<br>Arizona QCO: 22760</p>
						</td>
					</tr>
				</table>
					
  		</section>
			
			<div class='divider black-bg'></div>

			<section id='step1' class='step'>
				<h1 class='center'>THANK YOU FOR YOUR TAX CREDIT DONATION!</h1>

				<div class='receipt-donor-info'>
					<p class="donation-date">{{donationDate}}</p>
					<p>{{donorNames}}</p>
					<p>{{donorAddress}}</p>
					<p>{{donorCityStateZip}}</p>
				</div>

				<p>On behalf of the children and families in Arizona, thank you! Your dollar-for-dollar tax credit is changing lives!</p>
				<p>No tangible goods or services of any kind were provided in exchange for your contribution.</p>
				<p>The Institute For Better Education Foundation is a certified 501(c)(3) non-profit organization, certified by the state of Arizona as a Qualified Charitable Organization (QCO.)</p>
				<p>Federal Tax ID: 93-1967631<br>Arizona QCO: 22760</p>
				
				<div class='receipt-details'>
					<p>Donation Date: {{donationDate}}</p>
					<p>Tax Year: {{filingYear}}</p>
					<p>Donation to the IBE Foundation: {{donationAmount}}</p>
				</div>
				
				<p>QCO tax credits must be claimed on Arizona From 321.</p>
				<p>All Arizona state tax credits must also be listed on Arizona Form 301.</p>
			</section>


  		<section id='footer'>			

				<div class='divider black-bg'></div>

				<table border="0" width="100%">
					<tr>
						<td class='left'>
							<p>EIN: 93-1967631 AZ QCO: 22760<br>ibefoundation.org</p>
						</td>
						<td class='right'>
							<p>(T) 520-200-7275<br>921 North Swan Road, Tucson, Arizona 85711</p>
						</td>
					</tr>
				</table>
					
  		</section>


		</section><!-- main -->
  </body>
</html>
