.git
.gemini
.github
.specify
.env
.env.example
.phpunit.cache
.vscode
.idea
.editorconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc
node_modules
vendor
public/build
public/hot
storage/*.key
tests
docs
docker-compose.yml
phpunit.xml
README.md
CLAUDE.md
GEMINI.md
specs
cloudbuild.yaml
phpstan.neon
boost.json
components.json
eslint.config.js
npm-debug.log
yarn-error.log
