/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed


# Global Ignores
*.log

# Private Documentation
.private/

# Dependencies - Ignore 'vendor' in any subdirectory
**/vendor/

# Symfony Specifics (Admin)
/admin/var/
/admin/public/bundles/
/admin/public/assets/
/admin/config/secrets/prod/prod.decrypt.private.php

# Build/Temp Files
dist/

# Development / Temporary Folders
dev/

# Symfony AssetMapper Managed Dependencies
/admin/assets/vendor/