<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^school/(.*) /index.php [L]
RewriteRule ^school/([0-9]*)/?$ /index.php?schoolId=$1 [L]
</IfModule>
