{% extends '@!EasyAdmin/page/login.html.twig' %}

{% block head_favicon %}
    <link rel="icon" href="https://ibefoundation.org/wp-content/uploads/2023/07/cropped-IBE-Foundation-Icon-1000x-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://ibefoundation.org/wp-content/uploads/2023/07/cropped-IBE-Foundation-Icon-1000x-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://ibefoundation.org/wp-content/uploads/2023/07/cropped-IBE-Foundation-Icon-1000x-180x180.png" />
    <meta name="msapplication-TileImage" content="https://ibefoundation.org/wp-content/uploads/2023/07/cropped-IBE-Foundation-Icon-1000x-270x270.png" />
{% endblock %}

{% block head_stylesheets %}
{{parent()}}
<style>

.login-wrapper {
	margin-top: unset;
	flex-direction: row;
  background-color: var(--page-login-form-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lg);
  min-width: 600px;
}

.login-wrapper	.content{
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
}
.logo-custom{
	display: block;
	height: 72px;
    width: 192px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  background-image: url("/logo-pdf.png")
}
.main-header{
	padding: 2rem 2.5rem;
}
</style>
{% endblock %}

{% block header_logo %}
<div class='logo-custom'></div>
{% endblock %}